{% load static %}


<div id="title" class="d-flex justify-content-around mt-3">
  <span class="my-auto">
    <h1 class="">Car Library</h1>
  </span>

  <span>
    <label for="cars">Choose a car:</label>
      <select class="navbar-brand custom-select" name="cars" id="cars">
        {% for car in files.keys %}
          <option value="{{ car }}">{{ car }}</option>
        {% endfor %}
      </select>
  </span>

  <span>
    <label>Year:</label>
    <select class="navbar-brand  custom-select" id='date-dropdown'></select>
  </span>

  <script>
    let dateDropdown = document.getElementById('date-dropdown');

    let currentYear = new Date().getFullYear();
    let earliestYear = 2000;

    while (currentYear >= earliestYear) {
      let dateOption = document.createElement('option');
      dateOption.text = currentYear;
      dateOption.value = currentYear;
      dateDropdown.add(dateOption);
      currentYear -= 1;
    }
  </script>
</div>

